<div id="menuList">
    <div class="menu">
        <div class="mainMenu">
            <a asp-controller="Home" asp-action="Index">
                <div>Home</div>
            </a>
        </div>
    </div>
    <div class="menu">    
        <div class="mainMenu">
            <div>Menu 1</div>
        </div>
        <div class="subMenu">
            <a asp-controller="IssueTracker" asp-action="CreateIssue">
                <div>Create</div>            
            </a>
            <a asp-controller="IssueTracker" asp-action="AllIssues">
                <div>SubMenu 1</div>
            </a>
        </div>
    </div>
    <div class="menu">
        <div class="mainMenu">
            <div>Menu 1</div>
        </div>
    </div>
    <div class="menu">
        <div class="mainMenu">
            <div>Menu 1</div>
        </div>
    </div>
</div>