.issueCard
{
    background-color:rgb(228, 237, 248);
    box-shadow:0px 0px 5px 1px rgb(114, 162, 220);
    margin-bottom:10px;
    margin-top:15px;
}

.issueDescriptionPre,.issueSolutionPre
{    
    width:100%;
    white-space:break-spaces;
    overflow-wrap:break-word;
    overflow:hidden;
}

.issueProject
{
    background-color:rgb(29, 185, 196);
    padding:5px;
    color:rgb(0, 60, 105);
    text-transform:capitalize;
    border-radius:7px;
    margin-left:4%;
}